.footer {
  background: linear-gradient(to top, #1B1F22, #000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 244px;
  text-align: center; 
  padding: 0px 0;
  position: relative;
  width: 100%;
  padding-top: 20px;
}

.footer__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.footer-content-logo {
  width: 150px; 
  height: 150px;
}

.footer-content-logo:hover {
	transform: scale(1.3);
	filter: brightness(1.2) drop-shadow(0 0 12px #F00) drop-shadow(0 0 20px #F00);
}